@charset "utf-8";
/* CSS Document */
*{
  margin: 0;
  padding: 0;
}
.header{
  font-family: "montserrat",sans-serif;
  position: fixed;
  height: 65px;
  width: 100%;
  background: #091F21;
  padding: 0px 0px 0px 0px ;
  color: #fff;
}
.logo{
  padding: 0px 0px 0px 100px;
  line-height: 65px;
  float: left;
  text-transform: uppercase;
  color: aliceblue;
}

.menu{
  padding: 0 25px;
  float: right;
  line-height: 65px;
}
.menu a{
  color: aliceblue;
  text-decoration: none;
  padding: 0 12px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}

/*--------------------*/
body {
    background: #fafaf1;
}
hr {
  color: #C5C5C5;
}
.navigator {
  font-family: "montserrat",sans-serif;
  height: 100px;
  width: 20%;
  background: #eeeeee;
  float: left;
  margin-left: 90px;
  text-align: center;
  border: 3px solid #C5C5C5;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}
.faq_n {
    line-height: 50px;
    font-weight: bold;
}
.help_n {
  line-height: 50px;
  font-weight: bold;
}
.container {
  width: 50%;
  margin-left: 40px;
  float: left;
}
h2 {
  padding: 20px 0px 0px 0px;
  color: aliceblue;
  letter-spacing: 15px;
  font-family: 'Baloo Thambi 2', cursive;
}
.faq_title {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to right, #2ea078, #1fa9c8, #15ddd4);
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}
.faq {
  width: 100%;
  right: 0;
}
.ans {
  display: none;
}
.q {
  color: #0288d1;
  padding: 5px 0px;
  font-family: 'Baloo Thambi 2', cursive;
}
.ans {
  padding-bottom: 5px;
  color: #505050;
}
.q:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #0288d1;
}
